#output-wrapper {
    border: 2px solid #aaa;
    background-color: #eee;
    border-radius: 20px;
    width: min(640px, 80%);
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

